<section class="min-h-screen bg-stone-300 md:flex md:items-center">
  <div class="md:w-1/2 m-auto rounded-2xl shadow-xl p-4 bg-white">
    <div class="mb-3">
      <h2 class="text-xl font-bold text-blue-950">Today's Task</h2>
      <span class="text-sm ms-3"> {{ todayDate() | date : 'fullDate' }} </span>
    </div>

    <div class="container">
      <!-- Form -->
      <form (submit)="onAddTodo(input.value); $event.preventDefault()">
        <div class="flex shadow-xs rounded-base -space-x-0.5">
          <input
            #input
            type="text"
            id="input-group-1"
            class="px-3 py-4 rounded-l-lg focus:ring-0 focus:outline-none bg-neutral-200 border border-black text-heading text-sm block w-full placeholder:text-body"
            placeholder="Add Your Task"
            required
          />
          <button
            type="submit"
            class="inline-flex items-center cursor-pointer text-white bg-orange-500 hover:bg-orange-400 box-border border border-transparent shadow-xs font-medium leading-5 rounded-e-base text-sm px-5 py-4 focus:outline-none"
          >
            Add
          </button>
        </div>
      </form>
      <!-- Tabs -->
      <div class="tabs my-3">
        <ul
          #filter
          class="flex justify-between text-sm font-medium text-center text-body shadow-sm rounded-xl overflow-hidden"
        >
          <!-- Tab Item -->
          <li class="w-full">
            <button
              (click)="store.updateFilter('all')"
              class="flex items-center justify-center gap-x-2 w-full px-4 cursor-pointer py-2 transition"
              [class.bg-blue-100]="store.filter() === 'all'"
              [class.text-blue-700]="store.filter() === 'all'"
            >
              <span
                class="w-5 h-5 bg-neutral-200 text-neutral-500 rounded-full flex items-center justify-center text-[12px]"
              >
                {{ store.allCount() }}
              </span>
              All
            </button>
          </li>

          <li class="w-full">
            <button
              (click)="store.updateFilter('active')"
              class="flex items-center justify-center gap-x-2 w-full px-4 cursor-pointer py-2 transition"
              [class.bg-blue-100]="store.filter() === 'active'"
              [class.text-blue-700]="store.filter() === 'active'"
            >
              <span
                class="w-5 h-5 bg-neutral-200 text-neutral-500 rounded-full flex items-center justify-center text-[12px]"
              >
                {{ store.activeCount() }}
              </span>
              Open
            </button>
          </li>
          <li class="w-full">
            <button
              (click)="store.updateFilter('completed')"
              class="flex items-center justify-center gap-x-2 w-full px-4 cursor-pointer py-2 transition"
              [class.bg-blue-100]="store.filter() === 'completed'"
              [class.text-blue-700]="store.filter() === 'completed'"
            >
              <span
                class="w-5 h-5 bg-neutral-200 text-neutral-500 rounded-full flex items-center justify-center text-[12px]"
              >
                {{ store.completedCount() }}
              </span>
              Close
            </button>
          </li>
        </ul>
      </div>
    </div>

    @if(!store.loading()){ @for (todo of store.filteredTodos(); track todo.id ; let index =$index) {
    <app-todo-item [todo]="todo" />
    } }@else { @for (item of [1,2,3,4]; track $index) {
    <app-todos-skeleton />
    } }
  </div>
</section>
